@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.home-outer-sos {
  background: url('../images/dash-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sos-heading {
  margin-top: 200px;
  color: white;
  margin-bottom: 50px;
}

.sos-card-head{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.5vw;
  margin-top: 1vh;
}
.cards {
  margin-left: 3vw;
  margin-right: 3vw;
}

.card {
  width: 20vw;
  height: auto !important;
  z-index: 10;
}

.police-name{
  text-align: left;
}

.ul {
  display: flex;
  flex-direction: row;
}

.info-box {
  margin: 0.2vh;
  border-radius: 8px;
  text-align: left;
  font-size: 14px;
  width: 20vw;
  padding-top: 4px;
  padding-left: 10px;
  padding-bottom: 4px;
  padding-right: 2px;
  background: #EDE4FF;
}

.info-box span {
  display: block;
  font-size: 14px;
  padding-top: 4px;
  font-family: 'Poppins', sans-serif !important;
}

.card,
.card__back {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border: none;
  margin-bottom: 30px;
  height: 52vh;
  width: 20vw;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
}

.card-text{
  text-align: justify;
  padding: 10px 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.btn-sos {
  opacity: 1;
  color: #fff;
  width: 100%;
  font-size: 14px;
  align-self: flex-end;
  position: relative;
  bottom: 0.2rem !important;
  border: none;
  padding: 8px 0 !important;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif !important;
}
.card-header img{
  width: 90px !important;
  height: 70px !important;
  border-radius: 50%;
  border: 2px solid #9a69c2;
}

.card-header{
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.cards {
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 20vw;
  height: 40vh;
  margin-bottom: 30px;
}
